.detail-page {
    padding: 18px 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-info h3 {
    font-size: 22px;
    color: #333;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.restaurant-info h4 {
    color: #ff6b6b;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.detail-page a {
    padding: 10px 0;
    text-decoration: none;
    color: black;
    margin-top: 100px;
    font-size: 24px;
    position: relative;
}

.detail-page a::before {
    content: '\2190'; 
    display: inline-block;
    margin-right: 5px;
}

.detail-image {
    border-radius: 20px;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 25%);
}

.restaurant-rating {
    margin-top: 12px;
    font-size: 28px;
    font-weight: bold;
    color: #ff6b6b;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.restaurant-content {
    margin-top: 35px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

.restaurant-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.restaurant-desc {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    padding-top: 20px;
    color: #333;
}

.restaurant-info p {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
    line-height: 1.5;
}

.restaurant-info h4 {
    margin-bottom: 8px;
    font-size: 20px;
}

.restaurant-review {
    margin-top: 60px;
}

.restaurant-review h4 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border-radius: 8px 8px 0 0;
}

.review-item {
    padding: 16px;
    background-color: #E8F5E9;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .detail-page {
        padding: 18px 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
