@media screen and (max-width: 1024px) {
    nav {
        padding: 0 50px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        background: #fff;
        top: 70px;
        left: -100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.3s ease;
    }

    nav ul li {
        padding: 12px 0;
        margin: 0;
    }

    nav ul li a {
        font-size: 22px;
        color: rgb(255, 255, 255);
    }
    
    nav ul li:hover {
        background: #798777;
        color: rgb(0, 0, 0);
        border-radius: 5px;
    }

    nav ul li a:hover {
        background: none;
    }

    .open {
        left: 0;
    }
    
    .hamburger {
        display: block;
    }
    
    .sidebar {
        background-color:  #A2B29F;
    }
}
